/* Colors */
.text-primary {
  color: $primary;
}

.text-gray-dark {
  color: $gray-dark;
}

.text-gray-light {
  color: $gray-light;
}

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.bg-blue {
  background-color: $blue;
}

/* Texts */

.punch-line {
  font-size: 64px;
  display: inline-block;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -2px;
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: 520px) {
    padding-bottom: 60px;
  }

  .typed-cursor {
    color: $primary;
    opacity: 1;
    animation: blink 1s infinite;
  }
  @-webkit-keyframes blink {
    50% {
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  @media screen and (max-width: 520px) {
    font-size: 34px;
  }
  @media screen and (max-width: 1024px) {
    .punch-line-static {
      display: block;
    }
  }
}

h2, h2.huge {
  @media screen and (max-width: 520px) {
    font-size: 26px;
  }
}

p {
  font-size: 20px;
  line-height: 1.4;
  @media screen and (max-width: 520px) {
    font-size: 16px;
  }
}

.slides p + p {
  margin-top: 30px;
}

/* Bgs */

.background.background-top {
  background: url("../img/bg-top.svg") no-repeat;
  background-position: 65% 95%;
  @media only screen and (min-width: 1024px) {
    background-position: 55% 75%;
  }
  @media only screen and (min-width: 1800px) {
    background-position: 60% 55%;
  }
}

.background.background-bottom {
  background: url("../img/bg-bottom.svg") no-repeat;
  background-position: center bottom;
}

/* Layout, grids */

.panel.top {
  transform: translateY(0) !important;
  pointer-events: initial;
  .panel-inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: calc(4% + 15px);
    padding-left: calc(4% + 15px);
    display: flex;
    justify-content: space-between;
    .panel-inner-left {
      text-align: left;
      align-self: center;
    }
    .panel-inner-right {
      text-align: right;
      align-self: center;
      a {
        opacity: 0.6;
        font-size: 20px;
        margin-left: 10px;
        &:hover {
          opacity: 1;
        }
        &.active {
          opacity: 1;
          font-weight: 500;
        }
      }
    }
  }
}

section.slide .content {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;

  .container .wrap {
    @media screen and (max-width: 767px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.grid-ladder {
  margin-top: 40px;
  @media screen and (min-width: 520px) {
    margin-top: 120px;
  }
  .box-79 {
    @extend .card-main;
    @extend .padding-0;
    margin-bottom: 40px;
    max-width: 360px;
    max-height: 220px;
    .name-79 {
      padding-right: 0;
      padding-left: 0;
      .title-79 {
        text-transform: none;
        letter-spacing: -.5px;
        font-size: 18px;
        font-weight: 500;
      }
    }
    &:hover, &:focus, &:active {
      box-shadow: $box-shadow-xs;
    }
  }

  @media only screen and (min-width: 1024px) {
    li:nth-child(2) a.box-79, li:nth-child(5) a.box-79 {
      top: -100px;
    }
    li:nth-child(3) a.box-79, li:nth-child(6) a.box-79 {
      top: -200px;
    }
  }
}

.card-main {
  background-color: $bg-white-trans;
  box-shadow: $box-shadow;
  border-radius: 10px;
  padding: 40px;
  @media screen and (max-width: 767px) {
    padding: 20px;
  }
}

.box-contact {
  @extend .card-main;
  .box-contact-address {
    padding-left: 50px;
    p {
      line-height: 2;
    }
    @media screen and (max-width: 1024px) {
      padding-left: 20px;
      text-align: center;
      margin-top: 50px;
    }
  }
}

/* Navigations */

@media screen and (min-width: 1200px) {
  .side .navigation li:after,
  .side .navigation li:before {
    display: none;
  }

  .side .navigation li {
    opacity: 0.6;
    transition: 0.25s;
    text-align: right;
    color: $black;
  }
  .side .navigation li:hover {
    opacity: 1;
  }

  .side .navigation li.selected {
    opacity: 1;
    font-weight: 500;
  }
}

@media screen and (max-width: 1199px) {
  .side .navigation {
    display: none;
  }
}
