<!--
{% for client in clients %}
<div class="sidebar left sidebar-client white" data-sidebar-id="{{client.title | slugify }}">
    <div class="close">
        <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
        </svg>
    </div>
    <div class="content">
        <img class="block margin-top-3 margin-bottom-3" width="200" src="{{client.logo}}" alt="{{client.title}} logo"/>
        <p><a class="text-blue" href="{{client.site-url}}" target="_blank">{{client.title}}</a></p>
        {{client.content}}
    </div>
</div>
{% endfor %}-->
