<!-- Header -->
<nav class="panel top">
    <div class="fix-12-12">
        <div class="sections">
            <div class="left"><a href="{{site.url}}{{site.baseurl}}"><img src="{{site.url}}{{site.baseurl}}/img/pareto-logo.png" width="240"
                                                alt="{{site.title}}/"></a></div>
            <div class="right">
                <a href="#" class="active">EN</a>
                <a href="#">RU</a>
                <a href="#">HE</a>
            </div>
        </div>
    </div>
</nav>