<!-- Header -->

<nav class="panel top small fixed forceMobileView"{% if page.lang == "he" %}dir="rtl"{% endif %}>


        <div class="sections desktop">

            <div class="left"{% if page.lang == 'he' %} style="text-align: right !important;"{% endif %}>{% if page.lang == "en" %}<a href="{{site.url}}{{site.baseurl}}">{% else %}<a href="{{site.url}}{{site.baseurl}}/{{page.lang}}">{% endif %}<img src="{{site.url}}{{site.baseurl}}/img/pareto-logo.png" width="220" alt="{{site.title}}/"></a></div>

            <div class="right"{% if page.lang =='he' %} style="text-align: left !important;"{% endif %}>
                <ul class="menu crop">
                    <li>
                        <a href="{% if page.lang == 'en' %}/{% else%}/{{page.lang}}/{% endif %}#solutions">
                            {% if page.lang == "en" %}Solutions{% elsif page.lang == "ru" %}Услуги{% elsif page.lang ==
                            "he"
                            %}שירותים{% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{% if page.lang == 'en' %}/{% else%}/{{page.lang}}/{% endif %}#about">
                            {% if page.lang == "en" %}About{% elsif page.lang == "ru" %}О нас{% elsif page.lang == "he"
                            %}אודותינו{% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{% if page.lang == 'en' %}/{% else%}/{{page.lang}}/{% endif %}#contact">{% if page.lang == "en" %}Contact{% elsif page.lang == "ru" %}Контакты{%
                            elsif
                            page.lang == "he" %}צרו קשר{% endif %}
                        </a>
                    </li>
                    <li {% if page.lang == 'he' %}style="margin: 0;"{% endif %}><span data-dropdown-id="dropdown-language" class="button actionButton dropdownTrigger dropdownTriggerLanguage" {% if page.lang == 'he' %}style="margin-left: 0;margin-right: 30px;"{% endif %}>{{ page.lang }}</span></li>
                </ul>
            </div>

        </div>

        <div class="sections compact hidden">
            <div class="left"{% if page.lang =='he' %} style="text-align: right !important;"{% endif %}>
                {% if page.lang == "en" %}<a href="{{site.url}}{{site.baseurl}}">
                {% else %}<a href="{{site.url}}{{site.baseurl}}/{{page.lang}}">{% endif %}
                <img src="{{site.url}}{{site.baseurl}}/img/pareto-logo.png" width="220" alt="{{site.title}}/"></a>
            </div>
            <div class="right"{% if page.lang =='he' %} style="text-align: left !important;"{% endif %}>
            <span class="button actionButton sidebarTrigger" data-sidebar-id="sidebar-menu">
                <svg style="margin: 0;">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
                </svg>
            </span>
                <span data-dropdown-id="dropdown-language"
                      class="button actionButton dropdownTrigger dropdownTriggerLanguage">{{ page.lang }}
            </span>
            </div>
        </div>
    </nav>

    <!-- Language selector dropdown -->
    <div class="customDropdown dropdown top{% if page.lang =='he' %} left{% else %} right{% endif %}" data-dropdown-id="dropdown-language">
        <ul>
            {% assign pages=site.pages | where:"ref", page.ref | sort: "lang" %}
            {% for page in pages %}
            <li>
                <a href="{{ page.url }}" class="{{ page.lang }}">
                    {% if page.lang == 'en' %}English
                    {% elsif page.lang == "ru" %}Русский
                    {% elsif page.lang == "he" %}עברית{% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Mobile Menu -->
    <nav class="sidebar sidebar-menu" data-sidebar-id="sidebar-menu">
        <div class="close">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
            </svg>
        </div>
        <div class="content margin-top-6">
            {% if page.lang == "en" %}<a href="{{site.url}}{{site.baseurl}}">
            {% else %}<a href="{{site.url}}{{site.baseurl}}/{{page.lang}}">{% endif %}
            <img src="{{site.url}}{{site.baseurl}}/img/pareto-logo.png" width="158" alt="{{site.title}}/"></a>
            <ul class="mainMenu margin-top-4">
                <li>

                    <a href="{% if page.lang == 'en' %}/{% else %}/{{page.lang}}/{% endif %}#solutions">
                        {% if page.lang == "en" %}Solutions{% elsif page.lang == "ru" %}Услуги{% elsif page.lang == "he"
                        %}שירותים{% endif %}
                    </a>
                </li>
                <li>
                    <a href="{% if page.lang == 'en' %}/{% else %}/{{page.lang}}/{% endif %}#about">
                        {% if page.lang == "en" %}About{% elsif page.lang == "ru" %}О нас{% elsif page.lang == "he"
                        %}אודותינו{% endif %}
                    </a>
                </li>
                <li>
                    <a href="{% if page.lang == 'en' %}/{% else %}/{{page.lang}}/{% endif %}#contact">{% if page.lang == "en" %}Contact{% elsif page.lang == "ru" %}Контакты{% elsif
                        page.lang
                        == "he" %}צרו קשר{% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </nav>