<!-- Header -->
<!-- TODO make another header - remove the sidebar navigation -->
<nav class="panel top small fixed forceMobileView">
    <div class="sections desktop">
        <div class="left">
            {% if page.lang == "en" %}<a href="{{site.url}}{{site.baseurl}}">
            {% else %}<a href="{{site.url}}{{site.baseurl}}/{{page.lang}}">{% endif %}
            <img src="{{site.url}}{{site.baseurl}}/img/pareto-logo.png" width="220" alt="{{site.title}}/"></a>
        </div>
        <div class="right">
            <ul class="menu crop">
                <li>
                    <a href="#solutions">
                        {% if page.lang == "en" %}Solutions{% elsif page.lang == "ru" %}Услуги{% elsif page.lang == "he"
                        %}Иврит{% endif %}
                    </a>
                </li>
                <li>
                    <a href="#about">
                        {% if page.lang == "en" %}About{% elsif page.lang == "ru" %}О нас{% elsif page.lang == "he"
                        %}Иврит{% endif %}
                    </a>
                </li>
                <li>
                    <a href="#contact">{% if page.lang == "en" %}Contact{% elsif page.lang == "ru" %}Контакты{% elsif
                        page.lang
                        == "he" %}Иврит{% endif %}
                    </a>
                </li>
                <li>
                    <span data-dropdown-id="dropdown-language"
                          class="button actionButton dropdownTrigger dropdownTriggerLanguage">
                        {{ page.lang }}
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="sections compact hidden">
        <div class="left">
            {% if page.lang == "en" %}<a href="{{site.url}}{{site.baseurl}}">
            {% else %}<a href="{{site.url}}{{site.baseurl}}/{{page.lang}}">{% endif %}
            <img src="{{site.url}}{{site.baseurl}}/img/pareto-logo.png" width="220" alt="{{site.title}}/"></a>
        </div>
        <div class="right">
            <span class="button actionButton sidebarTrigger" data-sidebar-id="1">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
                </svg>
            </span>
            <span data-dropdown-id="dropdown-language"
                  class="button actionButton dropdownTrigger dropdownTriggerLanguage">{{ page.lang }}
            </span>
        </div>
    </div>
</nav>


<!--<div class="sections compact hidden">
    <div class="left">
        {% if page.lang == "en" %}<a href="{{site.url}}{{site.baseurl}}">
        {% else %}<a href="{{site.url}}{{site.baseurl}}/{{page.lang}}">{% endif %}
        <img src="{{site.url}}{{site.baseurl}}/img/pareto-logo.png" width="105" alt="{{site.title}}/"></a>
    </div>
    <div class="right">
            <span class="button actionButton sidebarTrigger" data-sidebar-id="1">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
                </svg>
            </span>
        <span data-dropdown-id="dropdown-language" class="button actionButton dropdownTrigger">EN</span>
    </div>
</div>-->


<!-- Language selector dropdown -->
<div class="dropdown top right customDropdown" data-dropdown-id="dropdown-language">
    <ul>
        {% assign pages=site.pages | where:"ref", page.ref | sort: "lang" %}
        {% for page in pages %}
        <li>
            <a href="{{ page.url }}" class="{{ page.lang }}">
                {% if page.lang == 'en' %}English
                {% elsif page.lang == "ru" %}Русский
                {% elsif page.lang == "he" %}עברית{% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>


<!-- Mobile Menu -->
<nav class="sidebar" data-sidebar-id="1">
    <div class="close">
        <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
        </svg>
    </div>
    <div class="content">
        {% if page.lang == "en" %}<a href="{{site.url}}{{site.baseurl}}">
        {% else %}<a href="{{site.url}}{{site.baseurl}}/{{page.lang}}">{% endif %}
        <img src="{{site.url}}{{site.baseurl}}/img/pareto-logo.png" width="158" alt="{{site.title}}/"></a>
        <ul class="mainMenu uppercase margin-top-3">
            {% if page.lang == "en" %}
            <li><a href="#">Solutions</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            {% elsif page.lang == "ru" %}
            <li><a href="#">Услуги</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Контакты</a></li>
            {% elsif page.lang == "he" %}
            <li><a href="#">Иврит</a></li>
            {% endif %}
        </ul>
    </div>
</nav>