/* On load */
body {
  opacity: 0;
  transition: opacity .2s .2s;
  will-change: opacity;
}

.page-loaded body {
  opacity: 1;
}

/* Colors */
.text-primary {
  color: $primary;
}

.text-gray-dark {
  color: $gray-dark;
}

.text-gray-light {
  color: $gray-light;
}

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.bg-blue {
  background-color: $blue;
}

/* Texts */

.punch-line {
  font-size: 64px;
  display: inline-block;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -2px;
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: 520px) {
    padding-bottom: 60px;
  }

  .typed-cursor {
    color: $primary;
    opacity: 1;
    animation: blink 1s infinite;
  }
  @-webkit-keyframes blink {
    50% {
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  @media screen and (max-width: 1024px) {
    .punch-line-static {
      display: block;
    }
  }
}

@media screen and (max-width: 520px) {
  h1, h1.huge, h1.punch-line {
    font-size: 34px;
    font-weight: normal;
  }
  h2, h2.huge {
    font-size: 24px;
  }
}

p {
  font-size: 20px;
  line-height: 1.4;
  @media screen and (max-width: 520px) {
    font-size: 15px;
  }
}

.slides p + p {
  margin-top: 30px;
}

p:last-child {
  margin-bottom: 0;
}

.label-uppercase {
  font-size: 14px;
  color: $gray-light;
  font-weight: 500;
  text-transform: uppercase;
}

/* Bgs */

body.slides {
  background-color: #fbfbfb;
}

.background.background-top {
  background: url("../img/bg-top.svg") no-repeat;
  background-position: 55% 100%;
}

.background.background-bottom {
  background: url("../img/bg-bottom.svg") no-repeat;
  background-position: 50% 100%;
}

.scroll .slide .background, .mobile .simplifiedMobile .slide .background {
  //position: static !important;
  min-height: inherit;
}

/* Layout, grids */

.panel.top {
  transform: translateY(0) !important;
  pointer-events: initial;
  .right a {
    opacity: 0.6;
    font-size: 20px;
    margin-left: 10px;
    &:hover {
      opacity: 1;
    }
    &.active {
      opacity: 1;
      font-weight: 500;
    }
  }
}

.panel.bottom {
  p {
    font-size: 14px;
  }
  @media screen and (max-width: 519px) {
    display: none !important;
  }
}

.grid-ladder {
  margin-top: 40px;
  @media screen and (min-width: 520px) {
    margin-top: 120px;
  }
  .box-79 {
    @extend .card-main;
    @extend .padding-0;
    margin-bottom: 40px;
    .title-79 {
      text-transform: none;
      letter-spacing: -.5px;
      font-size: 22px;
      font-weight: 500;
    }
    &:hover, &:focus, &:active {
      box-shadow: $box-shadow-xs;
    }
  }

  @media only screen and (min-width: 1024px) {
    li:nth-child(2) a.box-79, li:nth-child(5) a.box-79 {
      top: -100px;
    }
    li:nth-child(3) a.box-79, li:nth-child(6) a.box-79 {
      top: -200px;
    }
  }
}

.card-main {
  background-color: $bg-white-trans;
  box-shadow: $box-shadow;
  border-radius: 10px;
  padding: 40px;
  p {line-height: 1.6;}
  @media screen and (max-width: 767px) {
    padding: 20px;
    &.card-main-mob {
      background-color: transparent;
      box-shadow: none;
      border-radius: 0;
      padding: 0;
    }

  }
}

.box-contact {
  @extend .card-main;
  .box-contact-address {
    padding-left: 50px;
    p {
      line-height: 2;
    }
    @media screen and (max-width: 1024px) {
      padding-left: 20px;
      text-align: center;
      margin-top: 50px;
    }
  }
}

/* Navigations */

@media screen and (min-width: 1200px) {
  .side .navigation li:after,
  .side .navigation li:before {
    display: none;
  }

  .side .navigation li {
    font-size: 14px;
    opacity: 0.6;
    transition: 0.25s;
    text-align: right;
    color: $black;
  }
  .side .navigation li:hover {
    opacity: 1;
  }

  .side .navigation li.selected {
    opacity: 1;
  }
}

@media screen and (max-width: 1199px) {
  .side .navigation {
    display: none;
  }
}

/* Lists */
.card-main li {
  list-style-type: circle;
  margin-left: 20px;
  margin-bottom: 15px;
  &, & p {
    font-size: 16px;
  }

}

/* Buttons */
.button.small.uppercase {
  @media screen and (max-width: 519px) {
    font-size: 12px;
  }
}

/* Sidebars */
.sidebar.left {
  width: 100%;
  max-width: 700px;
}

