/* On load */
body {
  opacity: 0;
  transition: opacity .2s .2s;
  will-change: opacity;
}

.page-loaded body {
  opacity: 1;
}

/* Colors */
.text-primary {
  color: $primary;
}

.text-gray-dark {
  color: $gray-dark;
}

.text-gray-light {
  color: $gray-light;
}

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.bg-blue {
  background-color: $blue;
}

/* Texts */

.punch-line {
  font-size: 64px;
  display: inline-block;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -2px;
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: 520px) {
    padding-bottom: 60px;
  }

  .typed-cursor {
    color: $gray-dark;
    opacity: 1;
    animation: blink 1s infinite;
  }
  @-webkit-keyframes blink {
    50% {
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  @media screen and (max-width: 1024px) {
    .punch-line-static {
      display: block;
    }
  }
}

@media screen and (max-width: 520px) {
  h1, h1.huge, h1.punch-line {
    font-size: 32px;
  }
  h2, h2.huge {
    font-size: 24px;
  }
}

p {
  font-size: 20px;
  line-height: 1.4;
  @media screen and (max-width: 520px) {
    font-size: 15px;
  }
}

.slides p + p {
  margin-top: 30px;
}

p:last-child {
  margin-bottom: 0;
}

.label-uppercase {
  font-size: 14px;
  color: $gray-light;
  font-weight: 500;
  text-transform: uppercase;
}

/* Bgs */

body.slides {
  background-color: #fbfbfb;
}

.background.background-top {
  background: url("../img/bg-top.svg") no-repeat;
  background-position: 55% 100%;

  &.background-rtl {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
  }

}

.background.background-bottom {
  background: url("../img/bg-bottom.svg") no-repeat;
  background-position: 50% 100%;
}

.scroll .slide .background, .mobile .simplifiedMobile .slide .background {
  //position: static !important;
  min-height: inherit;
}

/* Headers */

.panel.top {
  transform: translateY(0) !important;
  pointer-events: initial;
  background: rgba(255, 255, 255, .95);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
  @media screen and (min-width: 1150px) {
    padding-left: 0;
    padding-right: 0;
  }
  .sections.desktop {
    width: 100%;
    max-width: 1114px;
    margin: 0 auto;
    .right {
      li {
        vertical-align: middle;
        font-size: 22px;
        display: inline-block;
        margin: 0 15px;
        font-weight: 500;
        a {
          opacity: .6;
          &:hover {
            opacity: .9;
          }
        }
      }
    }
  }
}

/* Menu on slides changing */
.slides.stage-1 .panel.top .menu li:nth-child(1) a,
.slides.stage-2 .panel.top .menu li:nth-child(2) a,
.slides.stage-3 .panel.top .menu li:nth-child(3) a {
  opacity: 1;
}

/* Footers */

.panel.bottom {
  p {
    font-size: 14px;
  }
  @media screen and (max-width: 519px) {
    display: none !important;
  }
}

/* Layout, grids, boxes */

.grid-ladder {
  margin-top: 40px;
  @media screen and (min-width: 520px) {
    margin-top: 140px;
  }
  .box-79 {
    @extend .card-main;
    @extend .padding-0;
    margin-bottom: 40px;
    .title-79 {
      text-transform: none;
      letter-spacing: -.5px;
      font-size: 22px;
      font-weight: 500;
    }
    &:hover, &:focus, &:active {
      box-shadow: $box-shadow-xs;
    }
  }

  @media only screen and (min-width: 1024px) {
    li:nth-child(2) a.box-79, li:nth-child(5) a.box-79 {
      top: -100px;
    }
    li:nth-child(3) a.box-79, li:nth-child(6) a.box-79 {
      top: -200px;
    }
  }
}

.grid-68 {
  @media screen and (min-width: 1024px) {
    img {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

}

.card-main {
  background-color: $bg-white-trans;
  box-shadow: $box-shadow;
  border-radius: 10px;
  padding: 40px;
  p {
    line-height: 1.6;
  }
  @media screen and (max-width: 767px) {
    padding: 20px;
    &.card-main-mob {
      background-color: transparent;
      box-shadow: none;
      border-radius: 0;
      padding: 0;
    }

  }
}

.box-contact {
  @extend .card-main;
  .box-contact-address {
    padding-left: 50px;
    p {
      line-height: 2;
    }
    @media screen and (max-width: 1024px) {
      padding-left: 20px;
      text-align: center;
      margin-top: 50px;
    }
  }
}

/* Lists */
.card-main li {
  list-style-type: circle;
  margin-left: 20px;
  margin-bottom: 15px;
  &, & p {
    font-size: 16px;
  }
}
.list-rtl .card-main li {
  margin-left: 0;
  margin-right: 20px;
}

/* Buttons */
.button.small.uppercase {
  @media screen and (max-width: 519px) {
    font-size: 12px;
  }
}

/* Sidebars */
.sidebar.sidebar-client {
  width: 100%;
  max-width: 700px;
}

.sidebar.sidebar-menu {
  background-color: rgba(255,255,255,0.95);
  box-shadow: -3px 0 3px rgba(0,0,0,0.1);
  li {
    margin-top: 20px;
    a {
      color: $black;
      opacity: .6;
      display: block;
    }
  }
  .close svg {
    fill: $gray-lighter;
  }
}

/* Mobile menu on slides changing */
.slides.stage-1 .sidebar.sidebar-menu li:nth-child(1) a,
.slides.stage-2 .sidebar.sidebar-menu li:nth-child(2) a,
.slides.stage-3 .sidebar.sidebar-menu li:nth-child(3) a {
  opacity: 1;
}

/* Dropdowns */

.dropdownTrigger.dropdownTriggerLanguage {
  text-transform: capitalize;
  font-size: 18px;
  padding: 16px 14px !important;
  letter-spacing: 1px;
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
}

.customDropdown {
  padding-top: 10px;
  padding-bottom: 10px;
  li a {
    width: 100%;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
    opacity: .6;
  }
}

.customDropdown .en:lang(en), .ru:lang(ru), .he:lang(he) {
  opacity: 1;
}

/* Direction */

.rtl {
    direction: rtl !important;
}