---
layout: default
---

<!-- Solution -->
<section class="slide whiteSlide">
    <div class="content">
        <div class="container">
            <div class="wrap left">

                <div class="fix-8-12 toCenter">
                    <div class="card-main card-main-mob">
                        <div class="flex margin-bottom-2">
                            <div class="col-10-12">
                                <div class="label-uppercase">Solution</div>
                                <h1 class="small">{{page.title}}</h1>
                            </div>
                            <div class="col-2-12"><img src="{{page.page_icon}}" width="100"></div>
                        </div>

                        {{content}}

                        <a href="{{site.url}}{{site.baseurl}}/#contact"
                           class="button stroke cropBottom small uppercase margin-top-2">Request a
                            consultation</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="background background-bottom"></div>
</section>