---
layout: default
---

<!-- Solution -->
<section class="slide whiteSlide" {% if page.lang == "he" %}dir="rtl"{% endif %}>
    <div class="content">
        <div class="container">
            <div class="wrap {% if page.lang == 'he' %}right list-rtl{% else %}left{% endif %}">

                <div class="fix-9-12 toCenter">
                    <div class="card-main card-main-mob ae-6 fromBottom">
                        <div class="flex margin-bottom-2">
                            <div class="col-10-12">
                                <div class="label-uppercase padding-bottom-1">
                                    {% if page.lang == "en" %}Solution{% elsif page.lang == "ru" %}Услуга{% else
                                    page.lang == "he" %}שירות{% endif %}
                                </div>
                                <h1 class="small">{{page.title}}</h1>
                            </div>
                            <div class="col-2-12"><img src="{{page.page_icon}}" width="100"></div>
                        </div>

                        {{content}}


                        <a href="{{site.url}}{{site.baseurl}}/{{page.lang}}/#contact"
                           class="button stroke cropBottom small uppercase margin-top-2">
                            {% if page.lang == "en" %}Request a consultation{% elsif page.lang == "ru" %}Получить консультацию{% else
                            page.lang == "he" %}קבל ייעוץ{% endif %}</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="background background-bottom"></div>
</section>